<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-dark bg-success mb-4">
        <a href="/" class = "navbar-brand">Edicion de info de hiervas</a>
    </nav>

<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="/editarpl/<%= tasks._id%> " method="POST">
                        <div class="form-group">
                            <input type="text" name="nombrehierva" placeholder="inserte nombre de hierva" class="form-control" value="<%= tasks.nombrehierva %> ">
                        </div>
                        <div class="form-group">
                           <input type="text" name="familiahierva" placeholder="nombre familia" class="form-control"value="<%= tasks.familiahierva %> ">
                       </div>
                       <div class="form-group">
                           <input type="text" name="ofrece" placeholder="que ofrece" class="form-control"value="<%= tasks.ofrece %> ">
                       </div>
                       
                      
                       
                        <div class="form-group">
                       </div>
                       <button type="submit" class="btn btn-success btn-block">editar</button>
                       
                    </form>
                </div>
            </div>
           </div>    
    </div>
</div>