<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-dark bg-warning mb-4">
        <a href="/" class = "navbar-brand">lMedicamentos de laboratorioen</a>
    </nav>

<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="/editar/<%= tasks._id%> " method="POST">
                        <div class="form-group">
                            <input type="text" name="medicamento" placeholder="inserte nombre de producto" class="form-control" value="<%= tasks.medicamento %> ">
                        </div>
                        <div class="form-group">
                            <input type="text" name="clasificacion" placeholder="inserte nombre de usuario" class="form-control" value="<%= tasks.clasificacion %> ">
                        </div>
                        <div class="form-group">
                            <input type="text" name="via" placeholder="inserte numero de pedido" class="form-control" value="<%= tasks.via %> ">
                        </div>
                       
                        <div class="form-group">
                       </div>
                       <button type="submit" class="btn btn-dark btn-block">actulizar</button>
                       
                    </form>
                </div>
            </div>
           </div>    
    </div>
</div>